       <div class="row-container" style="margin-top: 5%; margin-left: 2%;margin-right: 2%;">
        <p-toast [style]="{marginTop: '100px'}"></p-toast>
       <form [formGroup]="userForm" (ngSubmit)="onSubmit(userForm)" class="form">
            <ngb-tabset [destroyOnHide]="false">
  
                <ngb-tab title="Basic Info">
                  <ng-template ngbTabContent>
                      <div class="row">
                          <div class="col-md-6">

                        <fieldset class="form-group">
                            <div [formGroup]="userForm">
                            <label for="gender">Gender</label>
                            <select class="form-control" name="gender" formControlName="gender" >
                              <option  value="">Please select your gender</option>
                              <option  value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                            
                            <span class="text-danger"
                            *ngIf="(userFormControl.gender.touched || userFormControl.gender.drty) && userFormControl.gender.invalid">
                            Gender is required
                        </span>
                    </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <div [formGroup]="userForm">
                            <label for="dateOfBirth">Date of Birth</label>
                            <!-- <input type="date" name="dateOfBirth"  formControlName="dateOfBirth" class="form-control"  placeholder="dd-mm-yyyy" required /> -->
                            <!-- <div class="input-group">
                                <input class="form-control" placeholder="mm/dd/yyyy"
                                       name="dateofBirth"  formControlName="dateofBirth" ngbDatepicker #dateofBirth="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}">
                                <div class="input-group-append">
                                  <button class="btn btn-outline-secondary calendar" (click)="dateofBirth.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                </div>
                              </div> -->
                              <input type="text" formControlName="dateOfBirth" placeholder="DD/MM/YYYY" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                     class="form-control"
                                     bsDatepicker [minDate]="minDate" [maxDate]="maxDate"/> 
                                     <span class="text-danger"
                                     *ngIf="(userFormControl.dateOfBirth.touched || userFormControl.dateOfBirth.drty) && userFormControl.dateOfBirth.invalid">
                                     Date of Birth is required
                                 </span>
                          
                    </div>
                        </fieldset>

                        <fieldset class="form-group">
                            <div [formGroup]="userForm">
                            <label for="disability">Disability</label>
                            <select name="disability" formControlName="disability" 
                             class="form-control"  (change)="checkDisablity($event.target.value)">
                                <option  value="">Please select</option>
                                <option  value="Yes">Yes</option>
                                <option value="No">No</option>
                              </select>
                            <span class="text-danger"
                            *ngIf="(userFormControl.disability.touched || userFormControl.disability.drty) && userFormControl.invalid">
                            Disability is required
                        </span>
                    </div>
                        </fieldset>
                        <fieldset class="form-group" *ngIf="enableDisablity">
                            <div [formGroup]="userForm">
                                <label for="dd">Describe Your Disability</label>
                                <input type="text" class="form-control" formControlName="disabilityDescription"  name="dd" />
                                
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="userForm">
                                <label for="mphone">Primary Phone Number</label>
                                <input type="text" class="form-control" formControlName="mPhone1"  name="mPhone1" />
                                <span class="text-danger" *ngIf="(userFormControl.mPhone1.touched || userFormControl.mPhone1.drty)">
                                    <!-- <div *ngIf="userFormControl.get('mPhone1').hasError('minlength')">
                                        mobile phone is not valid phone number
                                    </div> -->
                                
                            </span>
                    </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="userForm">
                                <label for="mphone2">Secondary Phone Number</label>
                                <input type="text" class="form-control" formControlName="mPhone2"  name="mphone2" minlength="10" maxlength="12"/>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="userForm">
                                <label for="fphone">Fixed-Line Phone Number</label>
                                <input type="text" class="form-control" formControlName="fPhone"  name="fphone" minlength="10" maxlength="12" />
                            </div>
                        </fieldset>
                        </div>
                        </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Education Background</ng-template>
                    <ng-template ngbTabContent>
                        <form [formGroup]="educationForm">
                            <div class="row">
                             <div class="col-md-6">
                        <fieldset class="form-group">
                                <div [formGroup]="educationForm">
                                <label for="fieldOfEducation">Field of Education</label>
                                <input type="text" class="form-control" formControlName="fieldOfEducation" name="field" />
                                <span class="text-danger"
                                *ngIf="(educationFormControl.fieldOfEducation.touched || educationFormControl.fieldOfEducation.drty) && educationFormControl.fieldOfEducation.invalid">
                                Field of education is required
                            </span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="educationForm">
                            <label for="fieldOfEducation">Specialization</label>
                            <input type="text" class="form-control" formControlName="specialization" name="field" />
                            <span class="text-danger"
                            *ngIf="(educationFormControl.specialization.touched || educationFormControl.specialization.drty) && educationFormControl.specialization.invalid">
                            Field of education is required
                        </span>
                        </div>
                    </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="educationForm">
                                <label for="qualification">Qualification</label><br>
                                <p-dropdown formControlName="qualification"  class="dropdownInput" [filter]="true" [options]="qualifications" name="qualification" [style]="{'width':'100%'}" ></p-dropdown>
                                <span class="text-danger"
                                *ngIf="(educationFormControl.qualification.touched || educationFormControl.qualification.drty) && educationFormControl.qualification.invalid">
                                Qualification is required
                            </span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="educationForm">
                                <label for="university">University/College</label>
                                <input type="text" class="form-control" formControlName="university"  name="university" />
                                <span class="text-danger"
                                *ngIf="(educationFormControl.university.touched || educationFormControl.university.drty) && educationFormControl.university.invalid">
                                University name is required
                            </span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="educationForm">
                                <label for="cgpa">CGPA</label>
                                <input type="number" name="cgpa" class="form-control" formControlName="cgpa"  />
                                <div *ngIf="(educationFormControl.cgpa.touched || educationFormControl.cgpa.drty) && educationFormControl.cgpa.invalid">
                                    <span class="text-danger" *ngIf="educationFormControl.cgpa.errors?.required">
                                        CGPA is required.
                                    </span>
                                      <span class="text-danger" *ngIf="educationFormControl.cgpa.errors?.min || educationFormControl.cgpa.errors?.max">
                                        CGPA should not be greater than 4
                                      </span>
                                      </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="educationForm">
                                <label for="yearOfGraduation">Year of Graduation</label><br>
                                <p-dropdown formControlName="yearOfGraduation" [filter]="true" class="dropdownInput" [options]="years" name="qualification" [style]="{'width':'100%'}" ></p-dropdown>
                                <span class="text-danger"
                                *ngIf="(educationFormControl.yearOfGraduation.touched || educationFormControl.yearOfGraduation.drty) && educationFormControl.yearOfGraduation.invalid">
                                Year of Graduation is required
                            </span>
                            </div>
                        </fieldset>
                        <button type="button" class="btn btn-primary" (click)="addEducation(educationForm)">Add</button>                        
                    </div>
                    </div>
                    </form>
                    <div class="row">
                        <div class="col-md-9">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th>Qualification</th>
                            <th scope="col">Field of Education</th>
                            <th scope="col">Specialization</th>
                            <th scope="col">University Name</th>
                            <th scope="col">CGPA</th>
                            <th scope="col">Year of Graduation</th>
                            <th>Actions</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="experiences != null">
                          <tr *ngFor="let education of educations; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{education.qualificationDesc}}</td>
                            <td>{{education.fieldOfEducation}}</td>
                            <td>{{education.specialization}}</td>
                            <td>{{education.university}}</td>
                            <td>{{education.cgpa}}</td>
                            <td>{{education.yearOfGraduation}}</td>
                            <td><button type="button" class="btn" style="color: rgb(16, 105, 28);" (click)="editEducation(education)"><i class="fa fa-edit"></i></button> 
                                <button type="button" class="btn" style="color: rgba(228, 19, 54);" (click)="deleteEducation(education)"><i class="fa fa-trash fa-lg"></i></button>
                            </tr>
                        </tbody>
                        <tbody *ngIf="experiences == null">
                            <tr>
                                <td>1</td>
                            <td colspan="4">You didn't add experience yet</td>
                            </tr>
                        </tbody>
                      </table>
                      </div>
                      </div>
                </ng-template>
            </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Work Experience</ng-template>
                    <ng-template ngbTabContent>
                     
                        <form [formGroup]="experienceForm">
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset class="form-group">
                                        <div [formGroup]="experienceForm">
                                            <label for="organization">Organization Name</label>
                                            <input type="text" class="form-control" formControlName="organization" name="organization" />
                                            <span class="text-danger"
                                            *ngIf="(experienceFormControl.organization.touched || experienceFormControl.organization.drty) && (experienceFormControl.organization.invalid)">
                                            Organization name is required
                                        </span>
                                        </div>
                                    </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="experienceForm">
                                <label for="position">Position</label>
                                <input type="text" class="form-control" formControlName="position"  name="position" />
                                <span class="text-danger"
                            *ngIf="(experienceFormControl.position.touched || experienceFormControl.position.drty) && experienceFormControl.position.invalid">
                            Position is required
                        </span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="experienceForm">
                                <label for="startDate">Start Date</label>
                                <input type="text" formControlName="startDate" placeholder="DD/MM/YYYY" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                class="form-control"
                                bsDatepicker [minDate]="minDate" [maxDate]="maxDate"/> 
                                <!-- <input type="date" name="startDate"  formControlName="startDate" class="form-control" placeholder="dd-mm-yyyy" required/> -->
                                <!-- <div class="input-group">
                                    <input class="form-control" placeholder="dd/mm/yyyy"
                                           name="startDate"  formControlName="startDate" ngbDatepicker #startDate="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar" (click)="startDate.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                    </div>
                                  </div> -->
                                <span class="text-danger"
                            *ngIf="(experienceFormControl.startDate.touched || experienceFormControl.startDate.drty) && experienceFormControl.startDate.invalid">
                            Start date is required
                        </span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="experienceForm">
                                <label for="endDate">End Date </label>
                                <input type="text" formControlName="endDate" placeholder="DD/MM/YYYY" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                class="form-control"
                                bsDatepicker [minDate]="minDate" [maxDate]="maxDate"/> 
                                <!-- <input type="date" name="endDate"  formControlName="endDate" class="form-control" required/> -->
                                <!-- <div class="input-group">
                                    <input class="form-control" placeholder="dd/mm/yyyy"
                                           name="endDate"  formControlName="endDate" ngbDatepicker #endDate="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar" (click)="endDate.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                    </div>
                                  </div> -->
                            <span class="text-danger"
                            *ngIf="(experienceFormControl.endDate.touched || experienceFormControl.endDate.drty) && experienceFormControl.endDate.invalid">
                            End date is required
                        </span>
                    </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="experienceForm">
                                <label for="salary">Salary </label>
                                <input type="number" class="form-control" formControlName="salary"  name="salary" />
                             </div>
                        </fieldset>
                        <button type="button" class="btn btn-primary" (click)="addExperiences(experienceForm)">Add</button>
                    </div>
                    
                </div>
                    </form>
                  
                    <div class="row">
                        <div class="col-md-9">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Organization Name</th>
                            <th scope="col">Position</th>
                            <th scope="col">Start Date</th>
                            <th scope="col">End Date</th>
                            <th scope="col">Salary</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="experiences != null || experiences != ' '">
                          <tr *ngFor="let experience of experiences; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{experience.organization}}</td>
                            <td>{{experience.position}}</td>
                            <td>{{experience.startDate | date :'dd/MM/yyyy'}}</td>
                            <td>{{experience.endDate | date :'dd/MM/yyyy'}}</td>
                            <td>{{experience.salary}}</td>
                            <td>
                                <button type="button" class="btn" style="color: rgb(16, 105, 28);" (click)="editExperience(experience)"><i class="fa fa-edit"></i></button>
                                <button type="button" class="btn" style="color: rgba(228, 19, 54);" (click)="deleteExperience(experience)"><i class="fa fa-trash fa-lg"></i></button>
                            </tr>
                        </tbody>
                        <tbody *ngIf="experiences == null">
                            <tr>
                                <td>1</td>
                            <td colspan="4">You didn't add education yet</td>
                            </tr>
                        </tbody>
                      </table>
                      </div>
                      </div>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Certifications</ng-template>
                    <ng-template ngbTabContent>
                        <form [formGroup]="certificationForm">
                            <div class="row">
                             <div class="col-md-6">
                        <fieldset class="form-group">
                                <div [formGroup]="certificationForm">
                                <label for="title">Certification Title</label>
                                <input type="text" class="form-control" formControlName="title" name="title" />
                                <span class="text-danger"
                                *ngIf="(certificationFormControl.title.touched || certificationFormControl.title.drty) && certificationFormControl.title.invalid">
                                Certification title is required
                            </span>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div [formGroup]="certificationForm">
                            <label for="institution">Institution</label>
                            <input type="text" class="form-control" formControlName="institution" name="institution" />
                            <span class="text-danger"
                            *ngIf="(certificationFormControl.institution.touched || certificationFormControl.institution.drty) && certificationFormControl.institution.invalid">
                            Institution name is required
                        </span>
                        </div>
                    </fieldset>
                        
                        <fieldset class="form-group">
                            <div [formGroup]="certificationForm">
                                <label for="awardedDate">Awarded Date</label>
                                <input type="text" formControlName="awardDate" placeholder="DD/MM/YYYY" [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                                class="form-control"
                                bsDatepicker [minDate]="minDate" [maxDate]="maxDate"  /> 
                                <!-- <input type="date" name="awardedDate"  formControlName="awardDate" class="form-control" required/> -->
                                <!-- <div class="input-group">
                                    <input class="form-control" placeholder="dd/mm/yyyy"
                                           name="awardedDate"  formControlName="awardedDate" ngbDatepicker #awardedDate="ngbDatepicker" [minDate]="{year: 1960, month: 1, day: 1}">
                                    <div class="input-group-append">
                                      <button class="btn btn-outline-secondary calendar" (click)="awardedDate.toggle()" type="button"><i class="fa fa-calendar"></i></button>
                                    </div>
                                  </div> -->
                                <span class="text-danger"
                                *ngIf="(certificationFormControl.awardDate.touched || certificationFormControl.awardDate.drty) && certificationFormControl.awardDate.invalid">
                                Awarded date is required
                            </span>
                            </div>
                        </fieldset>
                        
                        <button type="button" class="btn btn-primary" (click)="addCertification(certificationForm)">Add</button>                        
                    </div>
                    </div>
                    </form>
                    <div class="row">
                        <div class="col-md-9">
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th>Certificate Title</th>
                            <th scope="col">Institution</th>
                            <th scope="col">Awarded Date</th>
                            <th scope="col">Actions</th>
                          </tr>
                        </thead>
                        <tbody *ngIf="experiences != null">
                          <tr *ngFor="let certificate of certifications; let i = index">
                            <th scope="row">{{i + 1}}</th>
                            <td>{{certificate.title}}</td>
                            <td>{{certificate.institution}}</td>
                            <td>{{certificate.awardDate | date: 'dd/MM/yyyy'}}</td>
                            <td><button type="button" class="btn" style="color: rgb(16, 105, 28);" (click)="editCertificate(certificate)"><i class="fa fa-edit fa-lg"></i></button> 
                                <button type="button" class="btn" style="color: rgba(228, 19, 54);" (click)="deleteCertificate(certificate)"><i class="fa fa-trash fa-lg"></i></button>
                            </td>
                          </tr>
                        </tbody>
                        <tbody *ngIf="experiences == null">
                            <tr>
                                <td>1</td>
                            <td colspan="4">You didn't add experience yet</td>
                            </tr>
                        </tbody>
                      </table>
                      </div>
                      </div>
                </ng-template>
            </ngb-tab>
                <ngb-tab title="Upload Your CV">
                    <ng-template ngbTabContent>
                        <br/>
                        <div class="row">
                            <div class="col-md-6">
                                <label><em>Upload Yours CV not greater than 2MB.<br> By clicking choose button then clicking the upload button</em></label><br>
                                <p-fileUpload name="demo[]"  (uploadHandler)="onUpload($event)"
                                accept=".doc, .docx, .pdf" maxFileSize="10000000" customUpload="true" >
                            </p-fileUpload>
                            <br><br>
                            </div>
                            </div>
                            </ng-template>
                  </ngb-tab>
        </ngb-tabset>
            <button type="submit" class="btn btn-primary">Submit</button>&nbsp;&nbsp;
            <button type="button" class="btn btn-success" (click)="back()">Back</button>
        </form>
        </div>