<div class="row">
    <div class="col-lg-6">
        <form #form="ngForm">
            <ngb-tabset [destroyOnHide]="false">
  
                <ngb-tab title="Basic Info">
                  <ng-template ngbTabContent>
                  <fieldset class="form-group">
                            <label for="fullName">Full Name</label>
                            <input class="form-control" type="text" name="fullName" [(ngModel)]="userprofile.fullName" disabled/>
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="email">E-Mail</label>
                            <input type="email" name="email" [(ngModel)]="userprofile.email" class="form-control" disabled>
                        </fieldset>

                        <div class="form-group">
                            <label for="gender">Gender</label>
                            <select class="form-control" name="gender" [(ngModel)]="userprofile.gender">
                              <option  value="">Please select your gender</option>
                              <option  value="Male">Male</option>
                              <option value="Female">Female</option>
                            </select>
                        </div>

                        <fieldset class="form-group">
                            <label for="dateofBirth">Date of Birth</label>
                            <input type="text" name="dateofBirth" [(ngModel)]="userprofile.dateOfBirth" class="form-control" />
                        </fieldset>

                        <fieldset class="form-group">
                            <label for="disability">Text area</label>
                            <input type="text" name="disability" [(ngModel)]="userprofile.disability" class="form-control" />
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="mphone">Primary Phone Number</label>
                                <input type="tel" class="form-control" [(ngModel)]="userprofile.mPhone1" name="mphone1" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="mphone2">Secondary Phone Number</label>
                                <input type="tel" class="form-control" [(ngModel)]="userprofile.mPhone2" name="mphone2" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="fphone">Office Phone Number</label>
                                <input type="tel" class="form-control" [(ngModel)]="userprofile.fPhone" name="fphone" />
                            </div>
                        </fieldset>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Work Experience</ng-template>
                    <ng-template ngbTabContent>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="position">Position</label>
                                <input type="text" class="form-control" [(ngModel)]="userprofile.workExperiences.position" name="position" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="orgName">Organization Name</label>
                                <input type="text" name="orgName" class="form-control" [(ngModel)]="userprofile.workExperiences.organization" name="orgName" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <input type="date" class="form-control" [(ngModel)]="userprofile.workExperiences.startDate" name="startDate" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="endDate">End Date </label>
                                <input type="date" class="form-control" [(ngModel)]="userprofile.workExperiences.endDate" name="endDate" />
                            </div>
                        </fieldset>
                    </ng-template>
                </ngb-tab>
                <ngb-tab>
                    <ng-template ngbTabTitle>Education Background</ng-template>
                    <ng-template ngbTabContent>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="field">Field of Education</label>
                                <input type="text" class="form-control" [(ngModel)]="userprofile.educationalBackgrounds.fieldOfEducation" name="field" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="qualification">Qualification</label>
                                <input type="tel" class="form-control" [(ngModel)]="userprofile.educationalBackgrounds.qualification" name="qualification" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="university">University Name</label>
                                <input type="text" name="university" class="form-control" [(ngModel)]="userprofile.educationalBackgrounds.university" name="university" />
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="form-group">
                                <label for="graduationYear">Year of Graduation</label>
                                <input type="number" class="form-control" [(ngModel)]="userprofile.educationalBackgrounds.yearOfGraduation" name="graduationYear" />
                            </div>
                        </fieldset>
                </ng-template>
            </ngb-tab>
        </ngb-tabset>
            <button type="submit" class="btn btn-primary" (click)="save()">Save</button>
        </form>
    </div>
</div>