<div class="card" style="margin-top: 5%;">
    <div class="card-header">
       <h4>Vacancy Posting Form</h4> 
    </div>
    <p-toast [style]="{marginTop: '100px'}"></p-toast>
    <form  role="form" [formGroup]="vacancyForm" (ngSubmit)="save(vacancyForm)"  class="p-5">
<div class="card-body">
    <div class="col-lg-6">
            <fieldset class="form-group">
                <label for="title">Job title</label>
                <input type="text" formControlName="title" class="form-control" class="form-control" name="title" required />
            </fieldset>

            <fieldset class="form-group">
                <label for="qualification">Qualification</label>
                <input type="text" formControlName="qualification" class="form-control"  placeholder="Enter Qualification" name="qualification" required />
            </fieldset>

            <div class="form-group">
                <label for="workExprience">Work Exprience</label>
                <input type="text" formControlName="workExperience" class="form-control"  placeholder="Enter Work Exprience" name="workExperience" required />
            </div>

            <fieldset class="form-group">
                <label for="location">Location</label>
                <input type="text"  formControlName="location"  class="form-control"  placeholder="Enter Location" name="location" required>
            </fieldset>

            <fieldset class="form-group">
                <label for="postedDate">Posted Date</label>
                <input type="date" formControlName="postedDate"  class="form-control"  name="postedDate" required/>
            </fieldset>

            <fieldset class="form-group">
                <label for="deadlineDate">Deadline Date</label>
                <input type="date" formControlName="deadlineDate"  class="form-control"  name="deadlineDate" required/>
            </fieldset>
    </div>
   
</div>
<div class="card-footer col-lg-6">
    <button type="submit" class="btn btn-primary" (click)="save()">Save</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="clear()">Clear</button>&nbsp;
    <button type="button" class="btn btn-defualt" (click)="back()">Back</button>&nbsp;
    <button type="button" class="btn btn-success" (click)="detailForm()">Add Details</button>
</div>
</form>
</div>
