<div class="card" style="margin-top: 5%; margin-left: 2%;margin-right: 2%;">

<div class="card-body">
  <form  role="form" [formGroup]="vacancyForm" class="p-5" >
  <div class="col-lg-6">
          <fieldset class="form-group">
              <label for="title">Job title</label>
              <input type="text" formControlName="title" class="form-control"  name="title">
          </fieldset>

          <fieldset class="form-group">
              <label for="qualification">Qualification</label>
              <input type="text" formControlName="qualification" class="form-control"  name="qualification">
          </fieldset>
          <fieldset class="form-group">
            <label for="cgpa">CGPA</label>
            <input type="text" formControlName="cgpa" class="form-control"  name="cgpa">
        </fieldset>
          <div class="form-group">
              <label for="workExprience">Work Experience</label>
              <input type="text" formControlName="workExperience" class="form-control"   name="workExperience">
          </div>

          <fieldset class="form-group">
              <label for="location">Place of Work</label>
              <input type="text"  formControlName="location"  class="form-control"  name="location">
          </fieldset>
          <fieldset class="form-group">
            <label for="requiredNumber">Number of Vacant Post</label>
            <input type="text"  formControlName="requiredNumber"  class="form-control"  name="requiredNumber">
        </fieldset>
        <fieldset class="form-group">
            <label for="salary">Salary</label>
            <input type="text"  formControlName="salary"  class="form-control"   name="salary">
        </fieldset>
        <fieldset class="form-group">
            <label for="salaryDescription">Salary Description</label>
            <input type="text"  formControlName="salaryDescription"  class="form-control"   name="salaryDescription">
        </fieldset>
        <fieldset class="form-group">
            <label for="employementCondition">Employement Condition</label>
            <input type="text"  formControlName="employmentCondition"  class="form-control"   name="employementCondition">
        </fieldset>
        <fieldset class="form-group">
          <label for="postedDate">Posted Date</label>
          <input type="text" formControlName="postedDate"  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                               class="form-control"
                               bsDatepicker/> 
          <!-- <input type="date" formControlName="postedDate"  class="form-control"  name="postedDate"> -->
      </fieldset>

      <fieldset class="form-group">
          <label for="deadlineDate">Deadline</label>
          <input type="text" formControlName="deadlineDate"  [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
                               class="form-control"
                               bsDatepicker/> 
          <!-- <input type="date" formControlName="deadlineDate"  class="form-control"  name="deadlineDate"> -->
      </fieldset>
  </div>
</form>
  <div class="row" *ngFor="let item of vacancyDetails">
    <div class="col-lg-6">
      <fieldset class="form-group">
          <label for="description">{{item.title}}</label>
      </fieldset>

      <fieldset class="form-group">
          <p-editor [(ngModel)]="item.description" [style]="{'height':'200px'}" [readonly]="true" name ="description">
            <p-header>
              <span class="ql-formats">
                  
              </span>
          </p-header>
          </p-editor>
      </fieldset>
</div>
  </div>
</div>
<div class="card-footer col-lg-6">
  <button type="button" class="btn btn-primary" (click)="back()">Back</button>
</div>
</div>
<ngx-spinner></ngx-spinner>
