<div class="filterFields" >
    <form  [formGroup]="vacancyFilterForm" (ngSubmit)="search(vacancyFilterForm)"  class="p-5">
        <div class="filterFields" >
         <fieldset class="form-group">
             <label for="title">Vacancy Title: &nbsp;&nbsp;</label>
             <!-- <input type="text" formControlName="title" name="title" /> -->
             <p-dropdown formControlName="month" name="month" class="dropdownInput" [options]="vacanvyTitles" [filter]="true" ></p-dropdown>
               <button type="submit" class="btn btn-primary" >Search</button>
         </fieldset>
         </div>
     </form>
    </div>

<div [@routerTransition]>
    <div class="row">
        <div class="col-lg-4" *ngFor="let vacancy of vacancies">
            <div class="card card-default mb-3">
                <div class="card-header">
                    <i class="fa fa-bell fa-fw"></i> {{vacancy.title}}
                </div>
                <div class="card-body">
                    <div class="timeline-panel">
                        <div class="timeline-heading">
                            <h4 class="timeline-title">{{vacancy.workExperience}} Year Experience</h4>
                            <p><small class="text-muted"><i class="fa fa-clock-o"></i> 11 hours ago </small>
                            </p>
                        </div>
                        <div class="timeline-body">
                            <p>{{vacancy.qualification}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-sm btn-success" (click)="goToView(vacancy)">Edit</button>&nbsp;
                    <button class="btn btn-sm btn-danger" >Delete</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-sm btn-primary" (click)="appliedPersonel(vacancy)">Applied Personels</button>
                    
                </div>
            </div>
        </div>
    </div>
</div>
