<div class="spacehlder"></div>

<div [@routerTransition]>
   

<p-dataView [value]="vacancies" [paginator]="true" [rows]="10" #dv filterBy="title" emptyMessage="No Vacancy Available!">
    
        <p-header>
            <input type="search" pInputText placeholder="Search by title" (keyup)="dv.filter($event.target.value, 'contains')">
        </p-header>
        <div class="row">
    <ng-template let-vacancy pTemplate="listItem">
       
            <div class="col-lg-6">
           
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <h4 *ngIf="!vacancy.closed" class="text-success"><i class="fa fa-bell fa-fw text-success"></i> {{vacancy.title}}</h4>
                        <h4 *ngIf="vacancy.closed" class="text-danger"><i class="fa fa-bell fa-fw text-danger" ></i> {{vacancy.title}} </h4>
                    </div>
                    <div class="card-body">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{vacancy.workExperience}} Work Experience</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{vacancy.minutesElapsedSinceCreation}}</small>
                                </p>
                                <span class="text-success" *ngIf="!vacancy.closed" >Active</span>
                                <span class="text-danger" *ngIf="vacancy.closed">Closed</span>
                            </div>
                            <div class="timeline-body">
                                <p>{{vacancy.qualification}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-success" (click)="goToView(vacancy)">Edit</button>    
                            </div>
                            <div class="col">
                                <button class="btn btn-sm btn-primary" (click)="appliedPersonel(vacancy)">Applicants</button>
                            </div>
                        </div><br>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-sm btn-primary" (click)="applicantForWrittenExam(vacancy)">Applicants For Written Exam</button>    
                            </div>
                            <div class="col">
                                <button class="btn btn-sm btn-primary" (click)="applicantForInterview(vacancy)">Applicants For Interview</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
    </ng-template>
</div>
</p-dataView>
</div>