<div class="spacehlder"></div>
<div class="filterFields" >
    <form  [formGroup]="vacancyFilterForm" (ngSubmit)="search(vacancyFilterForm)"  class="p-5">
        <div class="filterFields" >
         <fieldset class="form-group">
             <label for="title">Vacancy Title: &nbsp;&nbsp;</label>
             <!-- <input type="text" formControlName="title" name="title" /> -->
             <p-dropdown formControlName="vacancyId" name="title" class="dropdownInput" [options]="vacanvyTitles" [filter]="true" ></p-dropdown>
               <button type="submit" class="btn btn-primary" >Search</button>
               <button type="button" class="btn btn-success" (click)="clearSearch()">Clear</button>
         </fieldset>
         </div>
     </form>
    </div>

<div [@routerTransition]>
   

<p-dataView [value]="vacancies" [paginator]="true" [rows]="10" #dv filterBy="title">
    
        <p-header>
            <input type="search" pInputText placeholder="Search by title" (keyup)="dv.filter($event.target.value, 'contains')">
        </p-header>
        <div class="row">
    <ng-template let-vacancy pTemplate="listItem">
       
            <div class="col-lg-6">
           
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <span *ngIf="!vacancy.closed"><i class="fa fa-bell fa-fw"></i> {{vacancy.title}}</span>
                        <span *ngIf="vacancy.closed"><i class="fa fa-bell fa-fw" ></i> {{vacancy.title}} (Closed Vacancy)</span>
                    </div>
                    <div class="card-body">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4 class="timeline-title">{{vacancy.workExperience}} Year Experience</h4>
                                <p><small class="text-muted"><i class="fa fa-clock-o"></i>{{vacancy.minutesElapsedSinceCreation}}</small>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p>{{vacancy.qualification}}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <button class="btn btn-sm btn-success" (click)="goToView(vacancy)">Edit</button>&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="appliedPersonel(vacancy)">Applicants</button>
                    </div>
                </div>
            </div>
        
    </ng-template>
</div>
</p-dataView>
</div>