<div style="margin-top: 5%;">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
  <form role="form" [formGroup]="userForm" (ngSubmit)="saveUser(userForm)">
    <div class="card">
      <div class="card-header">
        Password Reset Form
      </div>
      <div class="card-body">
        <div class="form-row">
          <div class="col form-group">
            <label for="password">New Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
          </div>
          <div class="col form-group">                                                                                                        
            <label for="password">Confirm Password</label>
            <input type="password" class="form-control" id="password" formControlName="confirmPassword" />
          </div>
        </div>
      </div>
      <div class="card-footer">
        <button type="submit" class="btn btn-success">Reset Password</button>&nbsp;&nbsp;
      </div>
    </div>
  </form>
  </div>