<nav class="navbar navbar-expand-sm ">
    <a *ngIf="!isStaff; else staff" class="navbar-brand" href="#"><img src="assets/images/dbelogo.gif" alt="DBE Logo" /></a>
    <ng-template #staff>
        <img src="assets/images/dbelogo.gif" alt="DBE Logo" />
    </ng-template>
    
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <!-- <span class="navbar-toggler-icon"></span> -->
      <i class="fa fa-bars text-muted" aria-hidden="true"></i>
  </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
        <ul class="navbar-nav ml-auto">
            <li *ngIf="!isStaff" class="nav-item">
                <a  class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important;border-color: #999;" [routerLink]="['/']">
                  {{ 'Vacancies'}}
              </a>
            </li> &nbsp;&nbsp;
            <li *ngIf="!isStaff" class="nav-item">
                <a  class="nav-link btn mt-1 btn btn-danger btn-large border border-danger" role="button" style="padding: .375rem 1rem !important;border-color: #999;" [routerLink]="['/help']">
                  {{ 'How to Apply'}}
              </a>
            </li> &nbsp;&nbsp;
            <li class="nav-item" *ngIf="isNotLoggedIn">
                <a  class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important;border-color: #999;" [routerLink]="['/login']">
                  {{ 'Log In'}}
              </a>
            </li> &nbsp;&nbsp;
            <li class="nav-item" *ngIf="isNotLoggedIn">
                <a  class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important;border-color: #999;" [routerLink]="['/signup']">
                  {{ 'Register'}}
              </a>
            </li> &nbsp;&nbsp;
            <!-- <li class="nav-item" *ngIf="isNotLoggedIn">
                <a  class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important;border-color: #999;" [routerLink]="['/login']">
                  {{ 'Internal Vacancy'}}
              </a>
            </li> &nbsp;&nbsp; -->
            <li class="nav-item" *ngIf="!isStaff && displayUserInfo">
                <a  class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important;border-color: #999;" [routerLink]="['/appliedJobs']">
                  {{ 'Applied Jobs'}}
              </a>
            </li> &nbsp;&nbsp;
            <li class="nav-item" *ngIf="!isStaff && displayUserInfo">
                <a class="dropdown-item" (click)="gotoProfile()" class="nav-link btn mt-1" role="button" style="padding: .375rem 1rem !important;border-color: #999;">
                    <i class="fa fa-fw fa-user"></i> {{ 'User Profile' }}
                </a>
            </li> &nbsp;&nbsp;
            <li class="nav-item dropdown" ngbDropdown *ngIf="displayUserInfo">
                <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                    <i class="fa fa-user"></i> {{userEmail}}<b class="caret"></b>
                </a>
                <div class="dropdown-menu-right" ngbDropdownMenu>
                    <!-- <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-envelope"></i> {{ 'Inbox' | translate }}
                    </a>
                    <a class="dropdown-item" href="javascript:void(0)">
                        <i class="fa fa-fw fa-gear"></i> {{ 'Settings' | translate }}
                    </a>
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' | translate }}
                    </a> -->
                    <!-- <a class="dropdown-item" (click)="gotoProfile()">
                        <i class="fa fa-fw fa-user"></i> {{ 'Profile'}}
                    </a> -->
                    <a class="dropdown-item" [routerLink]="['/login']" (click)="onLoggedout()">
                        <i class="fa fa-fw fa-power-off"></i> {{ 'Log Out' }}
                    </a>
                    
                </div>
            </li>
        </ul>
    </div>
</nav>