<div class="spacehlder" style="margin-top: 5%;"></div>
<div *ngIf="employeeinfo" class="row" style="margin-left:2px;">
   <h5 style="color:#CD9934"><i>{{employeeinfo.name}}</i></h5>
</div>
<div *ngIf="applies.length>0">
    <div style="display: flex; justify-content: center"><h5> Positions Selected</h5></div>
  <div style="display: flex; justify-content: center" *ngFor="let item of applies">
     <h6 style="color:red">Position: {{item.position}},&nbsp;&nbsp;{{fileName(item)}}</h6>
  </div>
</div>
<p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="425"></p-confirmDialog>
<p-toast [style]="{marginTop: '100px'}"></p-toast>
<div class="spacehlder"></div>
<p-panel [toggleable]="true">
    <p-header>
        <div class="row">
            <div class="col-sm-2">
                Search Panel
            </div>
          <div class="col-sm-3">
            <p-radioButton name="position" value="manager" [(ngModel)]="selectedPosition" label="Managerial Positions" (click)="fillNonMangerialPositions()"></p-radioButton>
          </div>
          <div class="col-sm3">
            <p-radioButton name="position" value="non-manager" [(ngModel)]="selectedPosition" label="Non-Managerial Positions" (click)="fillNonMangerialPositions()"></p-radioButton>
          </div>
        </div>
    </p-header>
    <div *ngIf="selectedPosition==='manager'">
    <div class="row">
        <div class="col-sm-6">
            <p-dropdown [options]="vps"  [(ngModel)]="selectedVp" [filter]="true" placeholder="Select Cluster" (onChange)="fillDirector($event)"></p-dropdown>
        </div>
        <div class="col-sm-6">
            <p-dropdown [options]="directorates"   [(ngModel)]="selectedDirectorate" [filter]="true" placeholder="Select Directorate" (onChange)="fillDDirector($event)"></p-dropdown>
        </div>
    </div><br> 
       <div class="row">
        <div class="col-sm-6">
            <p-dropdown [options]="ddirectorates"   [(ngModel)]="selectedDDirectorate" [filter]="true" 
            placeholder="Select Division Head" (onChange)="fillManager($event)"></p-dropdown>
        </div>
        <div class="col-sm-6">
            <p-dropdown [options]="districts"   [(ngModel)]="selectedDistrict" [filter]="true" 
            placeholder="Select  Districts" (onChange)="fillDivisionsAndBranches($event)"></p-dropdown>
        </div>
        </div><br>
        <div class="row">
            <div class="col-sm-6">
                <button type="button" class="btn btn-success btn-round" (click)="resetFilter()">Reset Filter</button><br>
                <!-- <p-dropdown [options]="managers" [(ngModel)]="selectedManager" [filter]="true" placeholder="Select Manager"></p-dropdown> -->
            </div>
        </div>
    </div>
    <div *ngIf="selectedPosition==='non-manager'">
        <div class="row">
        <div class="col-sm-6">
            <p-dropdown [options]="wunits"  [(ngModel)]="wunit" [filter]="true" placeholder="Select Work Units" (onChange)="filterWU($event)"></p-dropdown>
        </div>
        <div class="col-sm-6">
            <button type="button" class="btn btn-success btn-round" (click)="resetFilter()">Reset Filter</button><br>
            <!-- <p-dropdown [options]="managers" [(ngModel)]="selectedManager" [filter]="true" placeholder="Select Manager"></p-dropdown> -->
        </div>
        </div>
    </div>
</p-panel>
<br>
<p-blockUI [blocked]="blockedDocument" [target]="dv"></p-blockUI>
<p-dataView [value]="vacancies" [paginator]="true" [rows]="6" #dv filterBy="position"  
  paginatorPosition="both" emptyMessage="No Vacancy Available!">
        <p-header>
            <input type="search" pInputText placeholder="Search by title" (keyup)="dv.filter($event.target.value, 'contains')">&nbsp;&nbsp;
            <button type="button" class="btn btn-danger btn-round" (click)="submit()" style="float: right;" [disabled]='isSubmitted'>Submit Application</button><br>
        </p-header>
        <div class="row">
    <ng-template let-vacancy pTemplate="listItem">
       
            <div class="col-lg-6">
           
                <div class="card card-default mb-3">
                    <div class="card-header">
                        <h4 class="text-success"><i class="fa fa-info-circle fa-fw text-success"></i> {{vacancy.position}}</h4>
                    </div>
                    <div class="card-body">
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5 class="timeline-title">Job Grade: {{vacancy.jobGrade}}</h5>
                                <p *ngIf="vacancy.managerial"><small class="text-muted">Place: {{vacancy.location}}</small>
                                </p>
                                <p *ngIf="!vacancy.managerial"><strong>Number of Vacant Posts:{{vacancy.noRequired}}</strong>
                                </p>
                            </div>
                            <div class="timeline-body">
                                <p *ngIf="vacancy.managerial">
                                Cluster: {{vacancy.cluster}} &nbsp;&nbsp;<button class="btn btn-success btn-small" (click)="displayDetail($event,vacancy,op3)">More Info</button>
                              </p>
                              <p *ngIf="!vacancy.managerial">
                                Place of work: {{vacancy.placementOfWork}} &nbsp;&nbsp;<button class="btn btn-success btn-small" (click)="displayDetail($event,vacancy,op3)">More Info</button>
                              </p>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <p-fileUpload  *ngIf="vacancy.managerial" #form mode="basic"  accept="image/*,.pdf"  maxFileSize="50000000" 
                        (uploadHandler)="upload($event,form,vacancy)" customUpload="true"
                         [auto]="true" chooseLabel="Attach File" (onSelect)="validateFileSize($event, form.maxFileSize)"></p-fileUpload>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="apply(vacancy)" style="margin-bottom: 1.8em;">{{isApplied(vacancy)?'Applied':'Apply'}}</button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-sm btn-primary" (click)="cancel(vacancy)" style="margin-bottom:1.8em;">Cancel</button>
                    </div>
                </div>
            </div>
        
    </ng-template>
</div>
</p-dataView>
<p-overlayPanel  appendTo="body" #op3 [style]="{'width':'30%'}">
    <h5>Qualification</h5>
    <p>{{fieldOfStudy}}</p>
    <h5>Experience</h5>
    <p>{{educationLevel}}</p>
</p-overlayPanel>
