<div class="row" style="margin-top: 5%; margin-left: 2%;margin-right: 2%;" >
    <p-toast [style]="{marginTop: '100px'}"></p-toast>
    <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)" class="form">
    <div class="form-row">
        <div class="col">
            <label><em>Upload Yours relevant Degree/Master/Phd/Diploma/Cerificate not greater than 3MB.<br> By clicking choose button then clicking the upload button</em></label><br>
            <p-fileUpload name="demo[]"  (uploadHandler)="onUpload($event)"
            accept=".pdf" maxFileSize="3000000" customUpload="true" fileLimit="1">
        </p-fileUpload>
        </div>
      </div>
        <div class="form-row">
            <div class="col">
            <fieldset class="form-group">
                <label for="applicationLetter"><em>Please write application letter to apply for {{vacancyname}} position not grater than 1000 words</em> </label>
                <p-editor formControlName="applicationLetter" [style]="{'height':'320px'}"  name="applicationLetter" formControlName="applicationLetter"></p-editor>
            </fieldset>
            <!-- <span class="text-danger"
            *ngIf="(applicationFormControl.applicationLetter.touched || applicationFormControl.applicationLetter.drty) && applicationFormControl.applicationLetter.invalid">
            Application letter is required
        </span> -->
            <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</div>
</form>
</div>