<div class="row">
    <div class="col-lg-6">
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)" class="form">
            <fieldset class="form-group">
                <div [formGroup]="applicationForm">
                <label for="applicationLetter">Application Letter</label>
                <textarea  class="form-control" formControlName="applicationLetter" name="applicationLetter" rows="8"></textarea>
                </div>
            </fieldset>
            <!-- <span class="text-danger"
            *ngIf="(applicationFormControl.applicationLetter.touched || applicationFormControl.applicationLetter.drty) && applicationFormControl.applicationLetter.invalid">
            Application letter is required
        </span> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>