<div class="row">
    <div class="col-lg-6">
        <form [formGroup]="applicationForm" (ngSubmit)="onSubmit(applicationForm)" class="form">
            <fieldset class="form-group">
                <label for="applicationLetter"><em>Please write application letter to apply for this vacancy.</em> </label>
                <p-editor formControlName="applicationLetter" [style]="{'height':'320px'}"  name="applicationLetter" formControlName="applicationLetter"></p-editor>
            </fieldset>
            <!-- <span class="text-danger"
            *ngIf="(applicationFormControl.applicationLetter.touched || applicationFormControl.applicationLetter.drty) && applicationFormControl.applicationLetter.invalid">
            Application letter is required
        </span> -->
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>