<div class="spaceholder">

</div>
<div class="filterFelds">
<p-panel header="Expand this pannel to Filter applicants" [toggleable]="true" toggler="header" [collapsed] ="true">
	<ng-template>
		<button pButton (click)="onClick($event, menu)">
        </button>
	</ng-template>

<form role="form" [formGroup]="filterForm" (ngSubmit)="search(filterForm)"  class="p-5">
  
    <fieldset class="form-group">
      <table class="table-responsive">
        <tr>
          <td>
            <label for="age">Age: </label>
          </td>
          <td>
            <select  name="agecriteria" formControlName="ageCriteria" >
              <option  value="">All</option>
              <option  value="greaterthan">Greater Than</option>
              <option value="lessthan">Less Than</option>
            </select>
            </td>
            <td>
          <input type="number" formControlName="age" name="age" />
          </td>
          <td>
            <label for="cgpa">CGPA: </label>
          </td>
          <td><select  name="cgpacriteria" formControlName="cgpaCriteria" >
            <option  value="">All</option>
            <option  value="greaterthan">Greater Than</option>
            <option value="lessthan">Less Than</option>
          </select>
        </td>
        <td>
        <input type="number" formControlName="cgpa"  name="cgpa" /></td>
          <td><label for="gender">Gender:</label></td>
          <td> <select  name="gender" formControlName="gender">
            <option  value="">All</option>
            <option  value="male">Male</option>
            <option value="female">Female</option>
          </select>
          </td>
         
        </tr><br />
        <tr>
          <td>
            <label for="qualification">Qualification: </label>
          </td>
          <td>
            <select  name="qualification" formControlName="qualificationcriteria" >
              <option  value="">All</option>
              <option  value="Diploma">Diploma</option>
              <option value="Degree">Degree</option>
              <option value="Masters">Masters</option>
              <option value="PHD">PHD</option>
            </select>
            </td>
        </tr>
      </table>
        <button type="submit" class="btn btn-primary" style="float:right;">Search</button>
    </fieldset>
    
</form>
</p-panel>
</div>
<br />
<p-table [value]="appliedPersonels" [responsive]="true" [autoLayout]="true">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix" style="text-align: left">
      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Export to EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
  </div>
    <h5>Development Bank of Ethiopia<br>
      Human Resource Management Directorate<br>
      Applicants profile Summary for the Position of {{vacancyName}}
     </h5>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th rowspan="2">SrNo</th>
          <th rowspan="2">Name</th>
          <th rowspan="2">Age</th>
          <th rowspan="2">Gender</th>
          <th rowspan="2">Disability</th>
          <th rowspan="2">Mobile</th>
          <th rowspan="2">Fixed</th>
          <th rowspan="2">Email</th>
          <th rowspan="2">CV</th>
          <th colspan="5">Educational Background</th>
          <th colspan="5">Work Experience</th>
      </tr>
      <tr>
          <th>Field of Education</th>
          <th>Qualification</th>
          <th>University</th>
          <th>Year Of Graduation</th>
          <th>CGPA</th>
          <th>Organization</th>
          <th>Position</th>
          <th>Salary</th>
          <th>Duration</th>
          <th>Total Experience In Years</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-appliedPersonel>
      <tr>
          <td>{{appliedPersonel.id}}</td>
          <td>{{appliedPersonel.fullName}}</td>
          <td>{{appliedPersonel.age}}</td>
          <td>{{appliedPersonel.gender}}</td>
          <td>{{appliedPersonel.disability}}</td>
          <td>{{appliedPersonel.mobilePhone1}}</td>
          <td>{{appliedPersonel.fixedLinePhone}}</td>
          <td>{{appliedPersonel.email}}</td>
          <td><button pButton icon="pi pi-download" class="ui-button-success" (click)="downloadFile(appliedPersonel)" pTooltip="download" tooltipPosition="top"></button></td>
          <td>{{appliedPersonel.fieldOfEducation}}</td>
          <td>{{appliedPersonel.qualification}}</td>
          <td>{{appliedPersonel.university}}</td>
          <td>{{appliedPersonel.yearOfGraduation}}</td>
          <td>{{appliedPersonel.cgpa}}</td>
          <td>{{appliedPersonel.organization}}</td>
          <td>{{appliedPersonel.position}}</td>
          <td>{{appliedPersonel.salary}}</td>
          <td>{{appliedPersonel.startDate | date :'dd/MM/yyyy'}} - {{appliedPersonel.endDate | date :'dd/MM/yyyy'}}</td>
          <td>{{appliedPersonel.workExperienceInYears}}</td>
      </tr>
  </ng-template>
  <ng-template pTemplate="footer">
  </ng-template>
</p-table>
