<p-toast [style]="{marginTop: '100px'}"></p-toast>
<div class="card" style="margin-top: 3%;">
    <div class="card-header">
       <h4>Password Reseting Form</h4> 
    </div>
    <form  role="form" [formGroup]="passwordRestForm" (ngSubmit)="send(passwordRestForm)"  class="p-5">
<div class="card-body">
   <div class="row">
    <div class="col-lg-6">
            <fieldset class="form-group">
                <label for="title">Email</label>
                <input type="email" formControlName="email" class="form-control" class="form-control"  placeholder="Enter email" required />
                <div *ngIf="passwordRestForm.controls['email'].touched && passwordRestForm.controls['email'].invalid" class="form-control-error">
                  <div *ngIf="passwordRestForm.controls['email'].errors.required">Username is required.</div>
              </div>
            </fieldset>
     </div>
     </div>
     <div class="row">
        <div class="col-lg-6">
          <button type="submit" class="btn btn-primary btn-sm"[disabled]="clicked">Send</button>
        </div>
     </div>
 </div> 
 </form>          