<div style="margin-top: 5%;">
<p-table [value]="appliedPersonels" [responsive]="true" [autoLayout]="true" sortField="fullName" sortMode="single" (onSort)="onSort()">
  <ng-template pTemplate="caption">
    <div class="ui-helper-clearfix" style="text-align: left">
      <button type="button" pButton icon="pi pi-file-excel" iconPos="left" label="Export to EXCEL" (click)="exportExcel()" style="margin-right: 0.5em;" class="ui-button-success"></button>
  </div>
    <h5>Development Bank of Ethiopia<br>
     </h5>
  </ng-template>
  <ng-template pTemplate="header">
      <tr>
          <th>Employee ID</th>
          <th>Employee Name</th>
          <th>Position One</th>
          <th>Position Two</th>
          <th>Position Three</th>
      </tr>
  </ng-template>
  <ng-template pTemplate="body" let-appliedPersonel let-rowIndex="rowIndex">
      <tr>
          <td>{{appliedPersonel.employeeId}}</td>
          <td>{{appliedPersonel.employeeName}}</td>
          <td>{{appliedPersonel.positionOne}}&nbsp;&nbsp;<button pButton icon="pi pi-download" class="ui-button-success" (click)="download1(appliedPersonel)" pTooltip="download letter" tooltipPosition="top"></button></td>
          <td>{{appliedPersonel.positionTwo}}&nbsp;<button pButton icon="pi pi-download" class="ui-button-success" (click)="download2(appliedPersonel)" pTooltip="download letter" tooltipPosition="top"></button></td>
          <td>{{appliedPersonel.positionThree}}&nbsp;<button pButton icon="pi pi-download" class="ui-button-success" (click)="download3(appliedPersonel)" pTooltip="download letter" tooltipPosition="top"></button></td>
        </tr>
  </ng-template>
  <ng-template pTemplate="footer">
  </ng-template>
</p-table>
</div>